<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <clientscripts>
      <htmleditor>
        <script type="text/javascript" language="javascript" src="/sitecore modules/shell/voice mate/scripts/voice-mate-rad.min.js" />        
        
      </htmleditor>
    </clientscripts>

    <pipelines>

      <renderContentEditor>
        
        <processor type="Voice.Mate.ContentEditing.RenderVoiceEnabledFields, Voice.Mate" patch:before="*[1]"  />
        
      </renderContentEditor>
      
    </pipelines>

    <settings>
      <setting name="Voice.Mate.Fields" value="Single-Line Text|Multi-Line Text|text|memo" />
    </settings>
    
  </sitecore>
  
</configuration> 